* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Encode Sans Expanded', sans-serif; }

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover; }

:root {
  --colorB: rgb(15, 190, 97); }

header {
  width: 40%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 15px;
  background: var(--colorB);
  box-shadow: 0px 2px 4px rgba(0, 146, 151, 0.151);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px; }
  header input {
    width: 100%;
    height: 50px;
    float: left;
    background: rgba(255, 255, 255, 0.205);
    border-radius: 5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 0px;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none; }
    header input ::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.753); }
