* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  background: #e9e9e9;
  padding: 80px 0 0 0; }

:root {
  --colorB: rgb(15, 190, 97); }

header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 15px;
  background: var(--colorB);
  box-shadow: 0px 2px 4px rgba(0, 146, 151, 0.151);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px; }
  header input {
    width: 100%;
    height: 50px;
    float: left;
    background: rgba(255, 255, 255, 0.205);
    color: white;
    font-size: 15px;
    font-weight: 400;
    text-indent: 18px;
    padding: 0 60px 0 0;
    border-radius: 5px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 0px;
    box-shadow: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none; }
  header ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.753); }
  header :-moz-placeholder {
    color: rgba(255, 255, 255, 0.753); }
  header ::-moz-placeholder {
    color: rgba(255, 255, 255, 0.753); }
  header :-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.753); }
  header button {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 2;
    border-radius: 25px;
    background: white;
    border: 0px;
    box-shadow: none;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none; }
    header button svg {
      padding: 15px; }
      header button svg .iconColor {
        fill: var(--colorB); }

.container {
  width: 100%;
  float: left;
  padding: 15px; }
  .container .todo {
    width: 100%;
    float: left; }
    .container .todo li {
      width: 100%;
      min-height: 50px;
      float: left;
      background: white;
      font-size: 14px;
      font-weight: 500;
      color: #444;
      line-height: 22px;
      border-radius: 5px;
      box-shadow: 0px 1px 2px rgba(0, 146, 151, 0.1);
      list-style: none;
      margin: 0 0 10px 0;
      position: relative;
      padding: 14px 100px 14px 14px; }
      .container .todo li .buttons {
        width: 100px;
        height: 50px;
        position: absolute;
        top: 0;
        right: 0; }
        .container .todo li .buttons button {
          width: 50px;
          height: 50px;
          float: left;
          background: none;
          border: 0px;
          box-shadow: none;
          outline: none;
          position: relative;
          cursor: pointer;
          -webkit-appearance: none;
          -moz-appearance: none;
          -ms-appearance: none;
          -o-appearance: none; }
          .container .todo li .buttons button svg {
            width: 22px;
            height: 22px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -11px 0 0 -11px; }
          .container .todo li .buttons button .fill {
            -webkit-transition: fill 0.2s ease;
            -moz-transition: fill 0.2s ease;
            -ms-transition: fill 0.2s ease;
            -o-transition: fill 0.2s ease;
            transition: fill 0.2s ease; }
        .container .todo li .buttons .remove .fill {
          fill: #3e664a; }
        .container .todo li .buttons .remove:hover .fill {
          fill: #ce3737; }
        .container .todo li .buttons .complete .fill {
          fill: #42ac62; }
        .container .todo li .buttons .complete svg {
          border-radius: 11px;
          border: solid 1.5px #42ac62; }
        .container .todo li .buttons :last-of-type:before {
          content: "";
          width: 1px;
          height: 30px;
          position: absolute;
          top: 10px;
          left: 0;
          background: #bbbbbb; }
    .container .todo :last-of-type {
      margin: 0; }
  .container .todo:not(#completed) li .buttons .complete:hover svg {
    background: rgba(66, 172, 98, 0.637);
    fill: white; }
  .container #completed li .buttons .complete svg {
    background: #42ac62;
    fill: white; }

#completed:not(:empty) {
  position: relative;
  padding: 60px 0 0 0; }

#completed:not(:empty):before {
  content: " ";
  width: 150px;
  height: 1px;
  background: #bbbbbb;
  position: absolute;
  top: 30px;
  left: 50%;
  margin: 0 0 0 -75px; }
